<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/login.css}">
<title>Login Form</title>

</head>
<body>
	<section class="pages">

		<div class="container">
			<h2>Sign in</h2>
			<form th:action="@{/dologin}" method="post">

				<div class="alert">
					<div class="alert-succes">
						<!-- Success Message -->
						<div th:if="${param.logout}" style="color: green;">
							<p>You have been logged out successfully.</p>
						</div>
						<div th:if="${success}" style="color: green;">
							<p th:text="${success}"></p>
						</div>

					</div>
					<div class="alert-danger">
						<!-- Error Message -->
						<div th:if="${param.error}" style="color: red;">
							<p>Invalid username or password!</p>
						</div>
					</div>
				</div>
				<div class="input-group">
					<input type="email" name="username" id="email" placeholder="">
					<label for="email">Email</label>
				</div>

				<div class="input-group">
					<input type="password" name="password" id="password" placeholder="">
					<label for="password">Password</label>
				</div>

				<button type="submit" class="btn btn-primary w-100">Login</button>

				<div class="forgot">
					<a href="@{/forgot}">Forgot password?</a>
				</div>
				
				<div class="forgot">
				  <a th:href="@{/registerpage}">Register</a>
				</div>
			</form>
		</div>
	</section>

</body>
</html>
