<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset Password</title>
<link rel="stylesheet" th:href="@{/css/forgot.css}">
</head>
<body>
	<div class="container">
		<h2>🔁 Reset Password</h2>
		<div th:if="${param.resetSuccess}">
			<div class="alert alert-success">Password changed successfully!
				Please log in with your new password.</div>
		</div>

		<form th:action="@{/passchange}" method="post">
			<label>New Password</label> <input type="password" name="newpassword"
				placeholder="Enter new password" required>
			<button type="submit">Change Password</button>
			<a href="#login">Login IN</a>
		</form>
	</div>
</body>
</html>
