<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>password change</title>
</head>
<body>
  <section>
   <h1>Password Change </h1>
   
   	<form  th:action="@{/passchange}" method ="post"  >
			<div class="form-group">

				<input name="newpassword" type="password" class="form-control"
					required="required" placeholder="Enter your new passowrd" />
			</div>
			<div class="container text-center ">

				<button class="btn btn-success btn-sm" text="submit">Change</button>

			</div>
		</form>
  </section>
</body>
</html>